/**** NAVIGATION ANIMATIONS ****/
@keyframes arrow-blink {
    0%,
    50%,
    100% {
        opacity: .95;
    }
    25%,
    75% {
        opacity: .5;
    }
}

@keyframes nav-arrow {
    0% { transform: translate(0, 0) rotate(0); }
    50% { transform: translate(19.5rem, 0); }
    100% { transform: translate(19.5rem, 20rem) rotate(180deg); }
}

@keyframes nav-arrow-reverse {
    0% { transform: translate(19.5rem, 20rem) rotate(180deg); }
    50% { transform: translate(0, 20rem); }
    100% { transform: translate(0, 0) rotate(0); }
}

/**** SPOTLIGHT ANIMATIONS ****/
@keyframes diffuse-info {
    0% { opacity: .3; }
    50% { opacity: .5; }
    100% { opacity: .9; }
}

