*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
    background-color: $color-white;
    // scroll-behavior: smooth;
}

body {
    font-family: $font-primary;
}

.container {
    display: grid;
    grid-template-columns:
        [full-start] minmax(8rem, 1fr) [center-start] repeat(9, [col-start] minmax(min-content, 14rem) [col-end])
        [center-end] minmax(7rem, 1fr) [full-end];
    transition: opacity 0s;

    &.focus-active {
        opacity: 0.2;
        transition: opacity 1500ms;
    }
}

.sticky {
    position: sticky;
    left: 3rem;
    top: 15rem;
    writing-mode: vertical-lr;
    letter-spacing: 0.5rem;
    transform: rotate(180deg);
    opacity: 0.7;
    //margin-bottom: 10rem;
}

/*
.fade-out {
    width: 100%;
    height: 23rem;
    background-image: linear-gradient(to bottom, transparent 0%, $color-white 20%);
    position: absolute;
    bottom: 0;
    margin-bottom: 10rem;
    z-index: 15;
}
*/
