.nav-menu {
  grid-column: full-start / col-start 1;

  width: 0;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $color-white;
  color: $color-black;
  transition: all 0.5s ease-out;
  z-index: 20;

  &.active {
    grid-row: 1 / 1;
    width: 19%;
    box-shadow: 4px 4px 3px $color-white;
    padding: 1.5rem;
  }

  &__translate {
    transform: translateX(-12rem);
  }

  &__scale {
    transform: scale(1);
    transition: transform 0.1s;

    &:hover {
      transform: scale(1.2);
    }
  }

  /*
    &__initial {
        position: relative;
        
        &.active {
            margin-top: 10rem;
        }
    }
    */

  &__open-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10rem;
    left: 3rem;
    color: $color-white;
    background-color: $color-black;
    border-radius: 50%;
    font-family: $font-headings;
    font-size: 4rem;
    font-weight: 700;
    width: 4.5rem;
    height: 4.5rem;
    opacity: 0.9;
    cursor: pointer;
    padding: 0.3rem 1rem 0.5rem 1.2rem;
    transition: top 1s;

    &.scroll-down {
      top: 1rem;
    }

    &.animate-nav-arrow {
      animation: nav-arrow 1.2s ease-in 1 running forwards;
    }

    &.animate-nav-arrow-reverse {
      animation: nav-arrow-reverse 1.5s ease-out 1 running forwards;
    }
  }

  &__initial.active {
    display: none;
  }

  &__content {
    display: none;
    height: 80vh;
    margin-top: 7rem;

    &.active {
      display: block;
    }
  }

  &__close {
    font-size: 5rem;
    font-weight: bold;
    width: min-content;
    height: 20%;
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 70%;
    font-family: $font-primary;
    font-size: 1.7rem;
    text-transform: uppercase;
  }

  &__list-item {
    display: flex;
    align-items: center;
    font-size: 2rem;
    list-style: none;
    margin-left: 0.3rem;
    transform: translateX(-19rem);
    transition: transform 0.4s;

    &--1,
    &--2,
    &--3,
    &--4,
    &--5 {
      transform: translateX(0rem);
    }

    &--1 {
      transition-delay: 0.2s;
    }

    &--2 {
      transition-delay: 0.4s;
    }

    &--3 {
      transition-delay: 0.6s;
    }

    &--4 {
      transition-delay: 0.8s;
    }

    &--5 {
      transition-delay: 1s;
    }

    & > a {
      color: $color-white;
      background-color: $color-black;
      padding: 0.5rem;
      box-shadow: 3px 3px 1px $color-black;
      transition: transform 0.3s;

      &:hover {
        transform: translateX(10px);
        font-weight: bold;
      }
    }
  }
}

#menu-close {
  display: block;
  cursor: pointer;
}
