.nav-menu {
  grid-column: full-start / col-start 1;

  width: 0;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $color-white;
  color: $color-black;
  transition: all 0.5s ease-out;
  z-index: 20;

  &.active {
    grid-row: 1 / 1;
    width: 19%;
    box-shadow: 4px 4px 3px $color-white;
    padding: 1.5rem;

    @include respond(tab-land) {
      width: 28%;
    }

    @include respond(tab-port) {
      width: 30%;
    }
  }

  &__translate {
    transform: translateX(-12rem);
  }

  &__scale {
    transform: scale(1);
    transition: transform 0.1s;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__open-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10rem;
    left: 3rem;
    color: $color-white;
    background-color: $color-black;
    border-radius: 50%;
    font-family: $font-headings;
    font-size: 4rem;
    font-weight: 700;
    width: 4.5rem;
    height: 4.5rem;
    opacity: 0.9;
    cursor: pointer;
    padding: 0.3rem 1rem 0.5rem 1.2rem;
    transition: top 1s;

    &.scroll-down {
      top: 1rem;
    }

    &.animate-nav-arrow {
      animation: nav-arrow 1.2s ease-in 1 running forwards;
    }

    &.animate-nav-arrow-reverse {
      animation: nav-arrow-reverse 1.5s ease-out 1 running forwards;
    }

    &--mobile {
      display: block;
      border: none;
      border-radius: 0;

      background-color: #000;
      height: 2px;
      width: 2.5rem;

      &,
      &::before,
      &::after {
        background-color: #000;
        height: 2px;
        width: 2.5rem;
        content: "";
        display: block;
        transition: all .2s;

        @include respond(phone-port) {
          width: 2rem;
        }
      }
      
      &::before { transform: translateY(-.5rem); }
      &::after { transform: translateY(-.8rem); }

      &.active {
        background-color: transparent;
      }

      &.active::before {
        transform: rotate(134deg);
      }

      &.active::after {
        transform: rotate(-133deg) translate(9px, 9px);
        margin-top: -.8px;
      }

      @include respond(phone-port) {
        width: 2rem;
    }
    }

    @include respond(tab-port) {
      left: 1rem;
    }

    @include respond(phone-land) {
      display: none;
    }
  }

  &__initial.active {
    display: none;
  }

  &__content {
    display: none;
    height: 80vh;
    margin-top: 7rem;

    &.active {
      display: block;
    }

    &--mobile {
      position: absolute;
      top: -2rem;
      right: -1rem;
      width: 40vw;
      background-color: $color-white;
      margin-top: 0;
      padding: 1rem;
      transform: translate(25rem, -20rem);
      transition: transform .2s;

      &.active {
        transform: translate(1rem, 6rem);
      }

      @include respond(phone-port) {
        width: 42vw;
    }
    }
  }

  &__close {
    font-size: 5rem;
    font-weight: bold;
    width: min-content;
    height: 20%;
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 70%;
    font-family: $font-primary;
    font-size: 1.7rem;
    text-transform: uppercase;
  }

  &__list-item {
    display: flex;
    align-items: center;
    font-size: 2rem;
    list-style: none;
    margin-left: 0.3rem;
    transform: translateX(-19rem);
    transition: transform 0.4s;

    &.active {
      transform: translateX(0rem);
    }

    &--mobile {
      transform: none;
      padding-bottom: 1.5rem;
    }

    & > a {
      color: $color-white;
      background-color: $color-black;
      padding: 0.5rem;
      box-shadow: 3px 3px 1px $color-black;
      transition: transform 0.3s;

      &:hover {
        transform: translateX(10px);
        font-weight: bold;
      }
    }

    @include respond(phone-land) {
      font-size: 1.8rem;
    }

    @include respond(phone-port) {
      font-size: 1.3rem;
    }
  }

  &__mobile {
    display: none;
    position: relative;
    width: 2.5rem;
    height: 2.5rem;

    @include respond(phone-land) {
      display: flex;
      align-items: center;
    }

    @include respond(phone-port) {
      width: 2rem;
      height: 2rem;
  }
  }
}

#menu-close {
  display: block;
  cursor: pointer;
}
