.print {
    &__sticky {
        letter-spacing: 0.5rem;
        padding-top: 1.5rem;
    }

    &__info {
        grid-row: 1 / 2;
        grid-column: center-start / full-end;
        padding: 1.5rem;
    }

    &__pieces {
        grid-row: 1 / -1;
        grid-column: center-start / full-end;

        width: 100%;
        display: grid;
        grid-auto-rows: 24rem;
        grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
        grid-gap: 5.5rem;

        padding: 10rem 2rem 0 2rem;
        margin: 0 auto;

        @include respond(phone-land) {
            grid-auto-rows: 30rem;
            padding: 2rem 2rem 0 2rem;
        }

        @include respond(phone-port) {
            padding-top: 1rem;
        }
    }

    &__piece {
        display: grid;
        grid-template-rows: 75% 25%;

        &:nth-child(n+5) {
            @include respond(phone-port) {
                display: none;
            }
        }

        &.active {
            @include respond(phone-port) {
                display: grid;
            }
        }
    }

    &__piece:hover .spotlight__piece-info {
        visibility: visible;
        animation: diffuse-info 0.8s linear 1;
    }
}
