.print {
    /*
    grid-column: full-start / full-end;

    display: grid;
    grid-template-rows: min-content max-content;
    grid-template-columns: [full-start] 8rem [center-start] 1fr [full-end];

    margin-bottom: 30rem;
    */

    // To match portfolio section
    grid-column: full-start / full-end;

    display: grid;
    grid-template-rows: max-content;
    grid-template-columns: [full-start] 8rem [center-start] 1fr [full-end];

    background-color: $color-white;
    margin-bottom: 30rem;
    
    &__sidebar {
        grid-row: 1 / -1;
        grid-column: full-start / center-start;

        position: relative;
    }

    &__sticky {
        letter-spacing: 0.5rem;
        padding-top: 1.5rem;
    }

    &__info {
        grid-row: 1 / 2;
        grid-column: center-start / full-end;
        padding: 1.5rem;
    }

    &__pieces {
        grid-row: 1 / -1;
        grid-column: center-start / full-end;

        display: grid;
        grid-auto-rows: 34rem;
        grid-template-columns: repeat(auto-fit, minmax(34.5rem, 1fr));
        grid-gap: 5.5rem;

        padding: 10rem 2rem 0 2rem;
        margin: 0 auto;
    }

    &__piece {
        display: grid;
        grid-template-rows: 80% 20%;
    }

    &__piece:hover .spotlight__piece-info {
        visibility: visible;
        animation: diffuse-info 0.8s linear 1;
    }

    /*
    &__items {
        display: flex;
        position: relative;
        width: 100%;
        padding: 2rem 7rem 5rem 7rem;
        overflow: hidden;
    }

    &__item {
        position: relative;
        text-align: center;

        &:hover .print__zoom,
        &:hover .print__item-info {
            visibility: visible;
            animation: diffuse-info 0.8s linear 1;
        }

        & img {
            max-width: 100%;
            max-height: 100%;
        }

        &-info {
            position: absolute;
            bottom: 1rem;
            left: 1rem;
        }
    }

    &__item-info {
        visibility: hidden;
        display: flex;
        justify-content: space-between;
        position: absolute;
        left: 50%;
        bottom: -2rem;
        padding: 0.5rem 1rem;
        transform: translate(-50%, -50%);
        width: 100%;
        overflow: hidden;
        background-color: $color-white;
        opacity: 0.9;
        z-index: 5;
    }

    &__item-title {

    }

    &__zoom {
        visibility: hidden;
        background-color: $color-white;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        z-index: 10;
        cursor: pointer;
    }

    &__slide-arrow {
        background: $color-black !important;
        width: 3rem !important;
        height: 3rem !important;

        & svg {
            width: 2rem !important;
            height: 2rem !important;
            fill: $color-white !important;
        }
    }

    &__slide-pages {
        &.is-active {
            background: $color-black !important;
        }
    }
    */
}
