.sketchbook {
    /*
    grid-column: full-start / full-end;

    display: grid;
    grid-template-rows: min-content max-content;
    grid-template-columns: [full-start] 8rem [center-start] 1fr [full-end];

    //padding-bottom: 10rem;
    margin-bottom: 30rem;
    

    &__sidebar {
        grid-row: 1 / -1;
        grid-column: full-start / center-start;

        position: relative;
    }
    */

    &__sticky {
        letter-spacing: 0.5rem;
        margin-bottom: 2rem;
    }

    &__info {
        grid-row: 1 / 2;
        grid-column: center-start / full-end;
        padding: 1.5rem;
    }

    &__book {
        position: relative;
        height: 100vh;
        width: 100%;
        margin-top: 5rem;

        @include respond(tab-port) {
            display: none;
        }
    }

    &__btn {
        position: absolute;
        top: 50%;
        width: 2rem;
        height: 2rem;

        &--left {
            left: 2rem;
            transform: translateY(-50%) rotate(180deg) !important;
        }

        &--right {
            right: 2rem;
        }
    }

    &__page {
        width: 100%;
        height: 100%;
        //background-color: purple;
        color: rosybrown;
        font-size: 4rem;
    }

    &__loader {
        height: 0;
        width: 0;
        overflow: hidden;
    }
}

#sketchbook__magazine {
    width: 80%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
    margin: 0 auto;
}

#sketchbook__magazine .turn-page {
    background-color: #ccc;
}