.social {
    width: 20rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $color-white;
    margin-right: 3rem;

    &__item {
        background-color: $color-white;
        opacity: 1;

        & img {
            height: 5rem;
            width: 5rem;

            @include respond(phone-land) {
                height: 2.5rem;
                width: 2.5rem;
            }

            @include respond(phone-port) {
                height: 2rem;
                width: 2rem;
            }
        }

        &:hover img {
            transform: translate(-.5px, -1px);
        }

        &--twitter {
            transform: translate(1.5px, 2px);

            @include respond(phone-port) {
                margin-right: 5px;
            }
        }

        &:hover .social__item--twitter {
            transform: translate(1px, 1.5px);
        }
    }

    @include respond(phone-land) {
        margin-right: 1.5rem;
    }

    @include respond(phone-port) {
        margin-right: 1rem;
    }
}