.spotlight {
    grid-column: full-start / full-end;

    display: grid;
    grid-template-rows: max-content;
    grid-template-columns: [full-start] 8rem [center-start] 1fr [full-end];

    background-color: $color-white;
    margin-bottom: 30rem;

    &__sidebar {
        grid-row: 1 / -1;
        grid-column: full-start / center-start;

        position: relative;
    }

    &__sticky {
        top: 20rem;
        letter-spacing: 0.5rem;
    }

    &__pieces {
        grid-row: 1 / -1;
        grid-column: center-start / full-end;

        display: grid;
        grid-auto-rows: 34rem;
        grid-template-columns: repeat(auto-fit, minmax(34.5rem, 1fr));
        grid-gap: 5.5rem;

        padding: 10rem 2rem 0 2rem;
        margin: 0 auto;
    }

    &__piece {
        display: grid;
        grid-template-rows: 80% 20%;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        grid-row: 1 / 2;
        z-index: 1;
    }

    &__piece-info {
        grid-row: 2 / -1;

        display: grid;
        grid-template-rows: 50% 50%;
        grid-template-columns: 85% 15%;
        align-items: end;

        visibility: hidden;
        background-color: $color-white;
        color: $color-black;
        padding: 1rem 0.5rem;
        opacity: 0.9;
        z-index: 10;
    }

    &__piece:hover .spotlight__piece-info {
        visibility: visible;
        animation: diffuse-info 0.8s linear 1;
    }

    &__title,
    &__description {
        grid-column: 1 / 2;
    }

    &__title {
        grid-row: 1 / 2;
    }

    &__client {
        grid-row: 2 / 2;

        font-size: 1.5rem;
    }

    &__description {
        grid-row: 2 / 2;

        font-size: 1rem;
    }

    &__zoom {
        grid-row: 1 / -1;
        grid-column: 2 / -1;

        width: 3rem;
        height: 3rem;
        margin: auto;
        cursor: pointer;
    }
}
